@tailwind base;
@tailwind components;
@tailwind utilities;

.black-white{
  filter: grayscale();
  -webkit-filter: grayscale(100%);
}
.black-white:hover{
  filter: none;
  -webkit-filter: none;
}

.myBlue{
  background: linear-gradient(45deg , black ,#000B18 ,#00172D ,#000B18 ,black);
  background-size: 300% 300%;
  animation: color 30s linear infinite;
  
}

@keyframes color {
  0%{background-position: 0 50%;}
  50%{background-position: 100% 50%;}
  100%{background-position: 0 50%;}
}

.glass{
  background: linear-gradient(90deg,rgba(255, 255, 255, 0.08),rgba(255, 255, 255, 0));
  backdrop-filter:blur(20px);
  border:1px solid rgba(255, 255, 255, 0.05) ;
  box-shadow: -8px 8px 32px 0 rgba(0, 0, 0, 0.3) , ;
}
.glass:hover{
  
  cursor: pointer;
  box-shadow: 1px -1px 16px  rgba(1, 40, 124, 0.3),  1px -1px 16px  rgba(0, 25, 78, 0.3);
  transition-timing-function: ease;
  transition-duration: 0.5s;
  transition-property: transform;
  transform: scale(1.03);

}

.myText{
  display: flex;
  cursor: pointer;
  padding-top: 1em;
  padding-bottom: 1em;
  
}
